<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.saket.dank"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DankApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DankTheme">
        <activity
            android:name=".ui.subreddits.SubRedditActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.authentication.LoginActivity"
            android:label="@string/login"
            android:parentActivityName=".ui.subreddits.SubRedditActivity"
            android:theme="@style/DankTheme.TransparentBackground" />
        <activity
            android:name=".ui.NestedScrollingTestActivity"
            android:label="NestedScrolling"
            android:parentActivityName=".ui.subreddits.SubRedditActivity" />
    </application>

</manifest>
