<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.saket.dank"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />

  <!-- For JobScheduler. -->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <!-- For downloading media. -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <!-- For determining if Dank can pre-fill cache. -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:name=".DankApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_launcher_label"
    android:supportsRtl="true"
    android:theme="@style/DankTheme.TransparentBackground">

    <activity-alias
      android:name=".Launcher"
      android:targetActivity=".ui.splash.SplashActivity">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>

    <activity
      android:name=".ui.splash.SplashActivity"
      android:theme="@style/DankTheme.Splash" />

    <activity
      android:name=".ui.subreddit.SubredditActivity"
      android:launchMode="singleTask"
      android:theme="@style/DankTheme"
      android:windowSoftInputMode="adjustResize" />

    <activity android:name=".ui.subreddit.SubredditActivityWithTransparentWindowBackground" />

    <activity
      android:name=".ui.authentication.LoginActivity"
      android:label="@string/login"
      android:launchMode="singleTop"
      android:parentActivityName=".ui.subreddit.SubredditActivity"
      android:theme="@style/DankTheme.DialogLikeActivity"
      android:windowSoftInputMode="adjustResize" />
    <!-- I've considered setting Login's softInputMode=adjustPan,
         but then scrolling stops working in login web-pages. -->

    <activity
      android:name=".ui.preferences.UserPreferencesActivity"
      android:label="@string/activity_userpreferences"
      android:parentActivityName=".ui.subreddit.SubredditActivity" />

    <activity android:name=".ui.webview.WebViewActivity" />

    <activity
      android:name=".ui.webview.ChromeCustomTabsForwardingActivity"
      android:theme="@android:style/Theme.NoDisplay" />

    <activity android:name=".ui.submission.SubmissionPageLayoutActivity" />

    <activity
      android:name=".ui.user.messages.InboxActivity"
      android:launchMode="singleTask"
      android:parentActivityName=".ui.subreddit.SubredditActivity" />

    <activity
      android:name=".ui.preferences.HiddenPreferencesActivity"
      android:label="Hidden Preferences"
      android:parentActivityName=".ui.preferences.UserPreferencesActivity" />

    <activity
      android:name=".ui.user.messages.PrivateMessageThreadActivity"
      android:parentActivityName=".ui.user.messages.InboxActivity"
      android:windowSoftInputMode="adjustResize|stateHidden" />

    <activity
      android:name=".ui.compose.ComposeReplyActivity"
      android:exported="true"
      android:windowSoftInputMode="adjustResize|stateVisible" />

    <activity
      android:name=".ui.giphy.GiphyPickerActivity"
      android:exported="true"
      android:windowSoftInputMode="adjustResize|stateVisible" />

    <activity
      android:name=".ui.PlaygroundActivity"
      android:label="Playground"
      android:parentActivityName=".ui.subreddit.SubredditActivity" />

    <activity
      android:name=".ui.media.MediaAlbumViewerActivity"
      android:exported="true"
      android:theme="@style/DankTheme.TransparentBackground.Fullscreen" />

    <activity
      android:name=".ui.submission.ArchivedSubmissionDialogActivity"
      android:theme="@style/DankTheme.DialogLikeActivity" />

    <activity
      android:name=".ui.submission.LockedSubmissionDialogActivity"
      android:theme="@style/DankTheme.DialogLikeActivity" />

    <activity
      android:name=".ui.appshortcuts.ConfigureAppShortcutsActivity"
      android:launchMode="singleTask"
      android:theme="@style/DankTheme.DialogLikeActivity"
      android:windowSoftInputMode="adjustNothing" />

    <activity
      android:name=".deeplinks.DeepLinkHandlingActivity"
      android:theme="@android:style/Theme.NoDisplay">

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="dank" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="*reddit.com"
          android:pathPattern=".*"
          android:scheme="https" />
        <data
          android:host="*reddit.com"
          android:pathPattern=".*"
          android:scheme="http" />
        <data
          android:host="redd.it"
          android:pathPattern=".*"
          android:scheme="https" />
        <data
          android:host="redd.it"
          android:pathPattern=".*"
          android:scheme="http" />
        <data
          android:host="amp.reddit.com"
          android:pathPattern=".*"
          android:scheme="https" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="www.google.com"
          android:pathPrefix="/amp/s/amp.reddit.com"
          android:scheme="https" />
      </intent-filter>
    </activity>

    <service
      android:name=".ui.subscriptions.SubredditSubscriptionsSyncJob"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE" />

    <service
      android:name=".notifs.CheckUnreadMessagesJobService"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE" />

    <service
      android:name=".notifs.MessageNotifActionsJobService"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE" />

    <service
      android:name=".vote.VoteJobService"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE" />

    <service
      android:name=".reply.RetryReplyJobService"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE" />

    <service
      android:name=".notifs.MediaDownloadService"
      android:exported="false" />

    <service
      android:name=".cache.DatabaseCacheRecyclerJobService"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE" />

    <receiver
      android:name=".notifs.MessageNotifActionReceiver"
      android:exported="false" />

    <receiver
      android:name=".notifs.MediaNotifActionReceiver"
      android:exported="false" />

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="@string/file_provider_authority"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_provider_paths" />
    </provider>

    <meta-data
      android:name="android.webkit.WebView.EnableSafeBrowsing"
      android:value="true" />

    <meta-data
      android:name="com.bugsnag.android.API_KEY"
      android:value="f33f08d80fc00d0581e66c0865feb41b" />
  </application>
</manifest>
